* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(#041833, #154580);
}

a {
  text-decoration: none;
}

li, ul { 
  list-style-type: none;
}